@model InvoiceApplication.Models.Debtor

@{
    ViewData["Title"] = "Create Debtor";
}


<div class="container">

    <div class="row main">

        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">Create Debtor</h1>
                <hr style="width:60%;border-top:2px solid #fff;" />
            </div>
        </div>


        <div class="main-large main-center">

            <form class="form-horizontal" asp-controller="Debtor" asp-action="Create">

                <!--LEFT COLUMN-->
                <div class="col-sm-6 col-md-6">

                    <!--FIRST NAME-->
                    <div class="form-group">
                        <label asp-for="FirstName" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-id-card-o fa-lg" aria-hidden="true"></i></span>
                                <input type="text" asp-for="FirstName" class="form-control" id="firstname" placeholder="Enter first name" />
                                <span asp-validation-for="FirstName" class="text-danger" />
                            </div>
                        </div>
                    </div>


                    <!--LAST NAME-->
                    <div class="form-group">
                        <label asp-for="LastName" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-id-card-o fa-lg" aria-hidden="true"></i></span>
                                <input type="text" asp-for="LastName" class="form-control" id="lastname" placeholder="Enter last name" />
                                <span asp-validation-for="LastName" class="text-danger" />
                            </div>
                        </div>
                    </div>


                    <!--EMAIL-->
                    <div class="form-group">
                        <label asp-for="Email" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-id-card-o fa-lg" aria-hidden="true"></i></span>
                                <input type="text" asp-for="Email" class="form-control" id="email" placeholder="Enter email" />
                                <span asp-validation-for="Email" class="text-danger" />
                            </div>
                        </div>
                    </div>


                    <!--PHONE-->
                    <div class="form-group">
                        <label asp-for="Phone" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-id-card-o fa-lg" aria-hidden="true"></i></span>
                                <input type="text" asp-for="Phone" class="form-control" id="phone" placeholder="Enter phone number" />
                                <span asp-validation-for="Phone" class="text-danger" />
                            </div>
                        </div>
                    </div>


                    <!--BANK ACCOUNT-->
                    <div class="form-group">
                        <label asp-for="BankAccount" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-id-card-o fa-lg" aria-hidden="true"></i></span>
                                <input type="text" asp-for="BankAccount" class="form-control" id="bankaccount" placeholder="Enter bank account number" />
                                <span asp-validation-for="BankAccount" class="text-danger" />
                            </div>
                        </div>
                    </div>

                </div>
                <!--END OF LEFT COLUMN-->
                <!-------------------------------------------------------------------------------------------->
                <!--RIGHT COLUMN-->
                <div class="col-sm-6 col-md-6">

                    <!--ADDRESS-->
                    <div class="form-group">
                        <label asp-for="Address" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope-open" aria-hidden="true"></i></span>
                                <input type="text" asp-for="Address" class="form-control" id="address" placeholder="Enter address" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>
                    </div>


                    <!--POSTAL CODE-->
                    <div class="form-group">
                        <label asp-for="PostalCode" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope-open" aria-hidden="true"></i></span>
                                <input type="text" asp-for="PostalCode" class="form-control" id="postal" placeholder="Enter postal code" />
                                <span asp-validation-for="PostalCode" class="text-danger"></span>
                            </div>
                        </div>
                    </div>


                    <!--CITY-->
                    <div class="form-group">
                        <label asp-for="City" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope-open" aria-hidden="true"></i></span>
                                <input type="text" asp-for="City" class="form-control" id="city" placeholder="Enter city" />
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                        </div>
                    </div>


                    <!--COUNTRY-->
                    <div class="form-group">
                        <label asp-for="Country" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope-open" aria-hidden="true"></i></span>
                                <input type="text" asp-for="Country" class="form-control" id="country" placeholder="Enter country" />
                                <span asp-validation-for="Country" class="text-danger"></span>
                            </div>
                        </div>
                    </div>


                    <!--SPACER-->
                    <div class="form-group">
                        <div class="col-md-10">
                            <br />
                        </div>
                    </div>


                    <!--CREATE BUTTON-->
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input id="create_deb_btn" type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </div>

                </div>
                <!--END OF RIGHT COLUMN-->

                <a asp-action="Index">Back to Overview</a>


            </form>


        </div>

    </div>

</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


