@model InvoiceApplication.Models.Debtor

@{
    ViewData["Title"] = "Edit Debtor";
}

<h2>Edit Debtor</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4></h4>
        <hr />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="DebtorID" />

        <div class="row">
            <!--LEFT COLUMN-->
            <div class="col-sm-6 col-md-6">

                <!--FIRST NAME-->
                <div class="form-group">
                    <label asp-for="FirstName" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger" />
                    </div>
                </div>

                <!--LAST NAME-->
                <div class="form-group">
                    <label asp-for="LastName" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger" />
                    </div>
                </div>

                <!--EMAIL-->
                <div class="form-group">
                    <label asp-for="Email" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger" />
                    </div>
                </div>

                <!--PHONE-->
                <div class="form-group">
                    <label asp-for="Phone" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger" />
                    </div>
                </div>

                <!--BANK ACCOUNT-->
                <div class="form-group">
                    <label asp-for="BankAccount" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="BankAccount" class="form-control" />
                        <span asp-validation-for="BankAccount" class="text-danger" />
                    </div>
                </div>

            </div>
            <!--END OF LEFT COLUMN-->

            <!-------------------------------------------------------------------------------------------->

            <!--RIGHT COLUMN-->
            <div class="col-sm-6 col-md-6">

                <!--ADDRESS-->
                <div class="form-group">
                    <label asp-for="Address" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger" />
                    </div>
                </div>

                <!--POSTAL CODE-->
                <div class="form-group">
                    <label asp-for="PostalCode" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="PostalCode" class="form-control" />
                        <span asp-validation-for="PostalCode" class="text-danger" />
                    </div>
                </div>

                <!--CITY-->
                <div class="form-group">
                    <label asp-for="City" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger" />
                    </div>
                </div>

                <!--COUNTRY-->
                <div class="form-group">
                    <label asp-for="Country" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Country" class="form-control" />
                        <span asp-validation-for="Country" class="text-danger" />
                    </div>
                </div>

                <!--SUBMIT BUTTON-->
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input id="edit_deb_btn" type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>

            </div>
            <!--END OF RIGHT COLUMN-->

        </div>
        <!-------------------------------------------------------------------------------------------->

    </div>
</form>

<div>
    <br />

    <a asp-action="Index">Back to Overview</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
