@model InvoiceApplication.Models.Product

@{
    ViewData["Title"] = "Product Details";
}

<div class="container">

    <div class="row main">

        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">Product Details</h1>
                <hr style="width:60%;border-top:2px solid #fff;" />
            </div>
        </div>


        <div class="main-large main-center" style="max-width:50% !important;">

            <form class="form-horizontal">


                <!--NAME-->
                <div class="form-group">
                    <label asp-for="Name" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-industry fa-lg" aria-hidden="true"></i></span>
                            <input type="text" asp-for="Name" class="form-control" name="name" id="name" placeholder="" readonly />
                            <span asp-validation-for="Name" class="text-danger" />
                        </div>
                    </div>
                </div>


                <!--DESCRIPTION-->
                <div class="form-group">
                    <label asp-for="Description" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-industry fa-lg" aria-hidden="true"></i></span>
                            <input type="text" asp-for="Description" class="form-control" name="description" id="description" placeholder="" readonly />
                            <span asp-validation-for="Description" class="text-danger" />
                        </div>
                    </div>
                </div>


                <!--PRICE-->
                <div class="form-group">
                    <label asp-for="Price" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-eur fa-lg" aria-hidden="true"></i></span>
                            <input type="text" asp-for="Price" class="form-control" name="price" id="price" placeholder="" readonly />
                            <span asp-validation-for="Price" class="text-danger" />
                        </div>
                    </div>
                </div>


                <!--TAX-->
                <div class="form-group">
                    <label asp-for="TaxPercentage" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-percent fa-lg" aria-hidden="true"></i></span>
                            <input type="text" asp-for="TaxPercentage" class="form-control" name="taxpercentage" id="taxpercentage" placeholder="" readonly />
                            <span asp-validation-for="TaxPercentage" class="text-danger" />
                        </div>
                    </div>
                </div>


                <!--SPACER-->
                <div class="form-group">
                    <div class="col-md-10">
                        <br />
                    </div>
                </div>


                <!--EDIT BUTTON-->
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <a id="edit_prod_btn" class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.ProductID">
                            <span class="fa fa-pencil fa-lg"></span>
                            &nbsp;Edit
                        </a>
                    </div>
                </div>

                <br />
                <br />

                <a asp-action="Index">Back to Overview</a>


            </form>


        </div>

    </div>

</div>