@model InvoiceApplication.Models.Invoice

@{
    ViewData["Title"] = "Create New Invoice";
    var cnt = 0;
}

<h2>Create New Invoice</h2>

<form id="form" asp-action="Create">
    <div class="form-horizontal">
        <h4></h4>
        <hr />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row">
            <!--BEGIN COLUMN 1-->
            <div class="col-sm-6 col-md-6">

                <!---DEBTOR-->
                <div class="form-group">
                    <label asp-for="DebtorID" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="DebtorID" class="form-control" asp-items="ViewBag.DebtorID"></select>
                    </div>
                </div>

                <!---INVOICE DATE-->
                <div class="form-group">
                    <label asp-for="CreatedOn" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input id="creation" asp-for="CreatedOn" class="form-control" />
                        <span asp-validation-for="CreatedOn" class="text-danger" />
                    </div>
                </div>

                <!---EXPIRATION DATE-->
                <div class="form-group">
                    <label asp-for="ExpirationDate" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input id="expiration" asp-for="ExpirationDate" class="form-control" />
                        <span asp-validation-for="ExpirationDate" class="text-danger" />
                    </div>
                </div>

                <!---TOTAL-->
                <div class="form-group">
                    <label asp-for="Total" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input id="total" name="total" type="text" class="form-control" readonly />
                        <span asp-validation-for="Total" class="text-danger" />
                    </div>
                </div>

                <!---TYPE-->
                <div class="form-group">
                    <label asp-for="Type" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="Type" class="form-control">
                            <option value="Concept">Concept</option>
                            <option value="Final">Final</option>
                        </select>
                        <span asp-validation-for="Type" class="text-danger" />
                    </div>
                </div>

                <!--SUBMIT BUTTON-->
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input id="create_inv_btn" type="button" value="Create" class="btn btn-primary" />
                    </div>
                </div>

                <br />
                <br />

                <div>
                    <a asp-action="Index">Back to Overview</a>
                </div>

            </div>
            <!--END COLUMN 1-->
            <!----------------------------------------------------------->
            <!--BEGIN COLUMN 2-->
            <div class="col-sm-6 col-md-6">

                <div id="products">

                    <!--PRODUCT ROW @(cnt)-->
                    <div id="productRow0" style="display:none;">
                        <div class="col-sm-7 col-md-7" style="padding-right:2px;">
                            <select id="_product" class="form-control" asp-items="ViewBag.Products"></select>
                        </div>
                        <div class="col-sm-3 col-md-3" style="padding-right:2px;padding-left:2px;">
                            <input id="_amount" class="form-control" />
                        </div>
                        <div class="col-sm-2 col-md-2" style="padding-left:2px;">
                            <!--REMOVE ROW BUTTON-->
                            <a href="#" id="del_row_btn" class="btn">
                                <span class="glyphicon glyphicon-minus" style="color:orangered;"></span>
                            </a>
                        </div>

                        <br />
                        <br />

                    </div>

                    <div id="productRow">
                        <div class="col-sm-7 col-md-7" style="padding-right:2px;">
                            <select id="product" class="form-control" asp-items="ViewBag.Products"></select>
                        </div>
                        <div class="col-sm-3 col-md-3" style="padding-right:2px;padding-left:2px;">
                            <input id="amount" class="form-control" />
                        </div>
                        <div class="col-sm-2 col-md-2" style="padding-left:2px;">
                            <!--REMOVE ROW BUTTON-->
                            <a href="#" id="del_row_btn" class="btn">
                                <span class="glyphicon glyphicon-minus" style="color:orangered;"></span>
                            </a>
                        </div>

                        <br />
                        <br />

                    </div>
                </div>

                <hr style="margin-bottom:0;margin-top:10px;" />

                <!--ADD ROW BUTTON-->
                <a href="#" id="add_row_btn" class="btn" style="margin-left:15px;">
                    <span class="glyphicon glyphicon-plus" style="color:limegreen;"></span>
                </a>

            </div>
            <!--END COLUMN 2-->
        </div>

        <!---------------------------------------------------------------------------------->

    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

        $(document).ready(function () {

            /* VARIABLES */
            var total = "";
            var count = 0;
            var productArray = new Array();
            var amountArray = new Array();


            /* AUTOMATICALLY SET EXPIRATION DATE */
            $("#creation").on("change", function () {
                var value = $("#creation").val();

                var day = value.split('-')[2];
                var month = value.split('-')[1];
                var year = value.split('-')[0];

                var num = Number.parseInt(month) + 1;

                if (num < 10) {
                    num = "0" + num.toString();
                } else {
                    num = num.toString();
                }

                var newDate = year + "-" + num + "-" + day;

                $("#expiration").val(newDate);
                $("#expiration").text(newDate);
            });


            /* SET PRODUCT VALUE */
            $("#products option:selected").each(function () {
                $("#product").on('change', function () {
                    calcTotal();
                });
            })


            /* SET AMOUNT VALUE */
            $("#products input").on('change', function () {
                calcTotal();
            });


            /* CHANGE FORM URL WHEN CLICKED ON CREATE */
            $("#create_inv_btn").on("click", function () {
                $("#products option:selected").each(function () {
                    productArray.push($(this).val().split('_')[0]);
                })

                $("#products input").each(function () {
                    amountArray.push($(this).val());
                })

                productArray.splice(0, 1);
                amountArray.splice(0, 1);

                console.log(productArray.toString());
                console.log(amountArray.toString());
                console.log(total.toString());

                /*
                $("#form").attr("asp-route-pids", productArray.toString());
                $("#form").attr("asp-route-amounts", amountArray.toString());
                $("#form").attr("asp-route-total", total);
                */

                $("#form").attr("action", "Create/?pids=" + productArray.toString() + "&amounts=" + amountArray.toString() + "&total=" + total);
                $("#form").submit();
            });

            /* ADD NEW DIV INSIDE #products*/
            $("#add_row_btn").on("click", function () {
                @{cnt++;}
                var copy = $("#productRow0").clone(true).appendTo("#products").find("input").val("");
            });

            /* REMOVE DIV INSIDE #products*/
            $("#del_row_btn").on("click", function () {
                @{cnt--;}
                $(this).parent().parent().remove();
            });

        });

        /*-------------------------------------------------------------------------------------------*/

       
        /*-------------------------------------------------------------------------------------------*/

        /* FUNCTION TO CALCULATE TOTAL AND SHOW IN TOTAL BOX */
        function calcTotal() {

            var amounts = new Array();
            var pids = new Array();
            var totalPrice = Number.parseFloat("0");

            $("#products option:selected").each(function () {
                pids.push($(this).val().split('_')[1]);
            })

            $("#products input").each(function () {
                amounts.push($(this).val());
            })

            pids.splice(0, 1);
            amounts.splice(0, 1);

            for (var i = 0; i < pids.length; i++) {
                var price = Number.parseFloat(pids[i]).toFixed(2);
                var amount = Number.parseInt(amounts[i]);

                totalPrice += (price * amount);
            }

            $("#total").prop("readonly", false);
            $("#total").val(totalPrice.toLocaleString("nl-NL", { minimumFractionDigits: 2 }));
            total = totalPrice.toLocaleString("nl-NL", { minimumFractionDigits: 2 });
            $("#total").prop("readonly", true);

            console.log('calculated: ' + total);
        }


    </script>
}


