@model InvoiceApplication.Models.Invoice

@{
    ViewData["Title"] = "Edit Invoice";
    var cnt = 0;
}

<h2>Edit Invoice</h2>

<form id="form" asp-action="Edit">
    <div class="form-horizontal">
        <h4></h4>
        <hr />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="InvoiceNumber" />

        <div class="row">
            <!--BEGIN COLUMN 1-->
            <div class="col-sm-6 col-md-6">

                <!---DEBTOR-->
                <div class="form-group">
                    <label asp-for="DebtorID" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="DebtorID" class="form-control" asp-items="ViewBag.DebtorID"></select>
                    </div>
                </div>

                <!---INVOICE DATE-->
                <div class="form-group">
                    <label asp-for="CreatedOn" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input id="creation" asp-for="CreatedOn" class="form-control" />
                        <span asp-validation-for="CreatedOn" class="text-danger" />
                    </div>
                </div>

                <!---EXPIRATION DATE-->
                <div class="form-group">
                    <label asp-for="ExpirationDate" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input id="expiration" asp-for="ExpirationDate" class="form-control" />
                        <span asp-validation-for="ExpirationDate" class="text-danger" />
                    </div>
                </div>

                <!---TOTAL-->
                <div class="form-group">
                    <label asp-for="Total" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input id="total" name="total" type="text" class="form-control" readonly />
                        <span asp-validation-for="Total" class="text-danger" />
                    </div>
                </div>

                <!---TYPE-->
                <div class="form-group">
                    <label asp-for="Type" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="Type" class="form-control">
                            <option value="Concept">Concept</option>
                            <option value="Final">Final</option>
                        </select>
                        <span asp-validation-for="Type" class="text-danger" />
                    </div>
                </div>

                <!--SUBMIT BUTTON-->
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input id="create_inv_btn" type="button" value="Save" class="btn btn-primary" />
                    </div>
                </div>

            </div>
            <!--END COLUMN 1-->
            <!----------------------------------------------------------->
            <!--BEGIN COLUMN 2-->
            <div class="col-sm-6 col-md-6">

                <div id="products">
                    <!--PRODUCT ROWS-->
                    <div id="productRow0" style="display:none;">
                        <div class="col-sm-7 col-md-7" style="padding-right:2px;">
                            <select id="_product" class="form-control" asp-items="ViewBag.Products"></select>
                        </div>
                        <div class="col-sm-3 col-md-3" style="padding-right:2px;padding-left:2px;">
                            <input id="_amount" class="form-control" />
                        </div>
                        <div class="col-sm-2 col-md-2" style="padding-left:2px;">
                            <!--REMOVE ROW BUTTON-->
                            <a href="#" id="del_row_btn" class="btn">
                                <span class="glyphicon glyphicon-minus" style="color:orangered;"></span>
                            </a>
                        </div>

                        <br />
                        <br />

                    </div>

                </div>

                <hr style="margin-bottom:0;margin-top:10px;" />

                <!--ADD ROW BUTTON-->
                <a href="#" id="add_row_btn" class="btn" style="margin-left:15px;">
                    <span class="glyphicon glyphicon-plus" style="color:limegreen;"></span>
                </a>

            </div>
            <!--END COLUMN 2-->
        </div>

        <!---------------------------------------------------------------------------------->

    </div>
</form>

<div>
    <br />

    <a asp-action="Index">Back to Overview</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        var start = false;

        $(document).one('ready', function () {
            setRows();
        });

        $(document).ready(function () {

            var t = "@(ViewBag.Total)";
            $("#total").val(t);

            /* VARIABLES */
            var total = t;
            var count = 0;
            var productArray = new Array();
            var amountArray = new Array();

            /*-------------------------------------------------------------------------------------------*/

            /* AUTOMATICALLY SET EXPIRATION DATE */
            $("#creation").on("change", function () {
                var value = $("#creation").val();

                var day = value.split('-')[2];
                var month = value.split('-')[1];
                var year = value.split('-')[0];

                var num = Number.parseInt(month) + 1;

                if (num < 10) {
                    num = "0" + num.toString();
                } else {
                    num = num.toString();
                }

                var newDate = year + "-" + num + "-" + day;

                $("#expiration").val(newDate);
                $("#expiration").text(newDate);
            });

            /*-------------------------------------------------------------------------------------------*/

            /* SET PRODUCT VALUE */
            $("#products > option:selected").each(function () {
                $("select[id*='products']").on('change', function () {
                    calcTotal();
                });
            })

            $(document).on("change", "#products option:selected", function () {
                calcTotal();
            });

            /*-------------------------------------------------------------------------------------------*/

            /* SET AMOUNT VALUE */
            $("#products  input[id*='amount']").on('change', function () {
                calcTotal();
            });

            $(document).on("change", "#products input[id*='amount']", function () {
                calcTotal();
            });

            /*-------------------------------------------------------------------------------------------*/

            /* CHANGE FORM URL WHEN CLICKED ON CREATE */
            $("#create_inv_btn").on("click", function () {

                $("#products option:selected").each(function () {
                    productArray.push($(this).val().split('_')[0]);
                })

                $("#products input[id*='amount']").each(function () {
                    amountArray.push($(this).val());
                })

                productArray.splice(0, 1);
                amountArray.splice(0, 1);

                console.log(productArray.toString());
                console.log(amountArray.toString());
                console.log(total);

                $("#form").attr("asp-route-products", productArray.toString());
                $("#form").attr("asp-route-amount", amountArray.toString());
                $("#form").attr("asp-route-total", total.toLocaleString("nl-NL", { minimumFractionDigits: 2 }));
                $("#form").submit();

                console.log('ACTION PIDS: ' + $("#form").attr("asp-route-products"));
                console.log('ACTION AMOUNTS: ' + $("#form").attr("asp-route-amount"));
                console.log('ACTION TOTAL: ' + $("#form").attr("asp-route-total"));

            });

            /*-------------------------------------------------------------------------------------------*/

            /* ADD NEW DIV INSIDE #products*/
            $("#add_row_btn").on("click", function () {
                @{cnt++;}
                var copy = $("#productRow0").clone(true).show().appendTo("#products").find("input").val("");
            });

            /*-------------------------------------------------------------------------------------------*/

            /* REMOVE DIV INSIDE #products*/
            $("#del_row_btn").on("click", function () {
                @{cnt--;}
                $(this).parent().parent().remove();
            });

        });

        /*-------------------------------------------------------------------------------------------*/

        /* SET PRODUCT ROWS */
        function setRows() {
            var pids = new Array();
            var amounts = new Array();
            var pnames = new Array();

            @foreach (var pid in ViewBag.PIDs)
            {
                @:pids.push('@(pid)');
            }

            @foreach (var amount in ViewBag.Amounts)
            {
                @:amounts.push(@(amount));
            }

            @foreach (var name in ViewBag.Names)
            {
                @:pnames.push('@(name)');
            }

            for (var i = 0; i < pids.length; i++) {
                var pid = pids[i];
                var amount = amounts[i];

                var html = "<div id='productRow'>"
                            + "<div class='col-sm-7 col-md-7' style='padding-right:2px;'>"
                            + "<select id='products' name='products' class='form-control'></select>"
                            + "</div>"
                            + "<div class='col-sm-3 col-md-3' style='padding-right:2px;padding-left:2px;'>"
                            + "<input id='amount@(cnt)' value='" + amount +"' name='amount' class='form-control' />"
                            + "</div>"
                            + "<div class='col-sm-2 col-md-2' style='padding-left:2px;'>"
                            + "<a href='#' id='del_row_btn' class='btn'>"
                            + "<span class='glyphicon glyphicon-minus' style='color:orangered;'></span>"
                            + "</a>"
                            + "</div>"
                            + "<br />"
                            + "<br />"
                            + "</div>";

                $("#products").append(html);

                for (var i = 0; i < pnames.length; i++) {
                    var pname = pnames[i];
                    $("#products select[id*='products']").append("<option value='" + pid + "' selected>" + pname + "</option>");
                }

                @{cnt++;}
            }
        }

        /*-------------------------------------------------------------------------------------------*/

        /* FUNCTION TO CALCULATE TOTAL AND SHOW IN TOTAL BOX */
        function calcTotal() {

            $("#total").val("");
            var amounts = new Array();
            var pids = new Array();
            var totalPrice = Number.parseFloat("0");

            $("#products option:selected").each(function () {
                pids.push($(this).val().split('_')[1]);
            });
            
            $("#products input[id*='amount']").each(function () {
                amounts.push($(this).val());
            });

            pids.splice(0, 1);
            amounts.splice(0, 1);

            for (var i = 0; i < pids.length; i++) {
                var price = Number.parseFloat(pids[i]).toFixed(2);
                var amount = Number.parseInt(amounts[i]);

                totalPrice += (price * amount);
            }

            $("#total").val(totalPrice.toLocaleString("nl-NL", { minimumFractionDigits: 2 }));
            total = totalPrice.toLocaleString("nl-NL", { minimumFractionDigits: 2 });
        }

    </script>
}
