@using Newtonsoft.Json;
@model E_Invoice.Models.Invoice

@{
    ViewData["Title"] = "Create New Invoice";
}

<h2>Create New Invoice</h2>

<form id="form" asp-action="Create">
    <div class="form-horizontal">
        <h4></h4>
        <hr />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row">
            <div class="col-sm-6 col-md-6">

                <div class="form-group">
                    <label asp-for="DebtorID" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="DebtorID" class="form-control" asp-items="ViewBag.DebtorID"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="CreatedOn" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="CreatedOn" id="CreatedOn" class="form-control" />
                        <span asp-validation-for="CreatedOn" class="text-danger" />
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="ExpirationDate" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="ExpirationDate" id="ExpirationDate" class="form-control" />
                        <span asp-validation-for="ExpirationDate" class="text-danger" />
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Total" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input name="Total" id="Total" class="form-control" />
                        <span asp-validation-for="Total" class="text-danger" />
                    </div>
                </div>

            </div>
            <div class="col-sm-6 col-md-6">

                <table id="productTable" class="table table-responsive table-bordered">
                    <tbody>
                        <tr>
                            <td>
                                <select name="ProductID" id="ProductID[0]" class="form-control" asp-items="ViewBag.ProductID"></select>
                            </td>
                            <td>
                                <input name="Amount" id="Amount[0]" class="form-control" />
                            </td>
                        </tr>
                    </tbody>
                </table>
                <a id="addRowButton" href="#" class="btn"><span class="glyphicon glyphicon-plus" style="color:green;"></span></a><a id="removeRowButton" href="#" class="btn"><span class="glyphicon glyphicon-remove" style="color:red;"></span></a>


            </div>
        </div>
        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="createButton" value="Create" class="btn btn-success" />
            </div>
        </div>

    </div>
</form>

<div>
    <a asp-action="Index">Back to Overview</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function () {

            var amount = 0;
            var pid = 1;
            var total = "";
            var count = 1;

            /*SET EXPIRATIONDATE VALUE*/
            $("#CreatedOn").on('change', function () {
                var value = $("#CreatedOn").val();

                var day = value.split('-')[2];
                var month = value.split('-')[1];
                var year = value.split('-')[0];

                var num = Number.parseInt(month) + 1;

                if (num < 10) {
                    num = "0" + num.toString();
                } else {
                    num = num.toString();
                }

                var newDate = year + "-" + num + "-" + day;

                $("#ExpirationDate").val(newDate);
                $("#ExpirationDate").text(newDate);
            });

            /*SET PRODUCT VALUE*/
            $("#ProductID").on('change', function () {
                calcTotal();
            });

            /*SET AMOUNT VALUE*/
            $("#Amount").on('change', function () {
                var value = $("#Amount").val();
                amount = value;

                calcTotal();
            });

            /*CHANGE FORM URL WHEN CLICKED ON CREATE*/
            $("#createButton").on('click', function () {
                $('#form').attr('action', "Create/?pid=" + pid + "&amount=" + amount + "&total=" + total);
                $('#form').submit();
            });

            /*FUNCTION TO CALCULATE TOTAL AND SHOW IN TOTAL BOX*/
            function calcTotal() {
                var value = $("#ProductID").val();
                pid = value.split('_')[0];

                var price = Number.parseFloat(value.split('_')[1]).toFixed(2);
                var amount = Number.parseInt($("#Amount").val());

                var totalPrice = Number.parseFloat("0");

                for (var i = 0; i < amount; i++) {
                    totalPrice = Number.parseFloat(totalPrice) + Number.parseFloat(price);
                }

                $("#Total").val(totalPrice.toFixed(2));
                total = totalPrice.toString();
            }

            /*ADD ROW TO TABLE*/
            $("#addRowButton").on('click', function () {
                var table = document.getElementById("productTable");

                var row = table.insertRow(count);

                // Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);

                // Add some text to the new cells:
                //cell1.innerHTML = "<td><select name=ProductID id=ProductID[" + count + "] class=form-control asp-items=@ViewBag.ProductID></select></td>";
                cell1.innerHTML = "<td>@Html.DropDownList("ProductID", (SelectList)ViewBag.ProductID)</td>";
                cell2.innerHTML = "<td><input name=Amount id=Amount class=form-control /></td>";

                count = count + 1;
            });

            /*REMOVE ROW TO TABLE*/
            $("#removeRowButton").on('click', function () {
                document.getElementById("productTable").deleteRow(count - 1);
                count = count - 1;
            });

        });
    </script>
}
