@model InvoiceApplication.Models.User
@using Microsoft.Extensions.Options
@inject IOptions<AppSettings> settings


@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row main">

        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">@settings.Value.Name</h1>
                <hr style="width:30%;border-top:2px solid #fff;" />
            </div>
        </div>


        <div class="main-login main-center">
            <form class="form-horizontal" asp-controller="User" asp-action="ForgotPassword">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <!--EMAIL-->
                <div class="form-group">
                    <label asp-for="Email" class="cols-sm-2 control-label">Your Email</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa-lg" aria-hidden="true"></i></span>
                            <input type="text" asp-for="Email" class="form-control" name="email" id="email" placeholder="Enter your Email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <!--PASSWORD-->
                <div class="form-group">
                    <label asp-for="Password" class="cols-sm-2 control-label">New Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" asp-for="Password" class="form-control" name="password" id="password" placeholder="Enter your Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <!--CHANGE BUTTON-->
                <div class="form-group ">
                    <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Change</button>
                </div>


                <!--BACK TO LOGIN-->
                <div class="login-register">
                    <p>
                        <a asp-action="Login">Back to Login</a>
                    </p>
                </div>

            </form>
        </div>

    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

