@using Microsoft.Extensions.Options

@model User
@inject IOptionsMonitor<AppSettings> settings

@{
    ViewData["Title"] = "Register Administrator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row main-reg">

        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">@settings.CurrentValue.Name</h1>
                <hr style="width:35%;border-top:2px solid #fff;" />
            </div>
        </div>


        <div class="main-register main-center">
            <form class="form-horizontal" asp-controller="Admin" asp-action="Create">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                <!--FIRST NAME-->
                <div class="form-group">
                    <label asp-for="FirstName" class="cols-sm-2 control-label">Your First Name</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-id-card" aria-hidden="true"></i></span>
                            <input type="text" asp-for="FirstName" class="form-control" id="firstname" placeholder="Enter your first name" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <!--LAST NAME-->
                <div class="form-group">
                    <label asp-for="LastName" class="cols-sm-2 control-label">Your Last Name</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-id-card" aria-hidden="true"></i></span>
                            <input type="text" asp-for="LastName" class="form-control" id="lastname" placeholder="Enter your last name" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <!--ADDRESS-->
                <div class="form-group">
                    <label asp-for="Address" class="cols-sm-2 control-label">Your Address</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope-open" aria-hidden="true"></i></span>
                            <input type="text" asp-for="Address" class="form-control" id="address" placeholder="Enter your address" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <!--POSTAL CODE-->
                <div class="form-group">
                    <label asp-for="PostalCode" class="cols-sm-2 control-label">Your Postal Code</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope-open" aria-hidden="true"></i></span>
                            <input type="text" asp-for="PostalCode" class="form-control" id="postal" placeholder="Enter your postal code" />
                            <span asp-validation-for="PostalCode" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <!--CITY-->
                <div class="form-group">
                    <label asp-for="City" class="cols-sm-2 control-label">Your City</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope-open" aria-hidden="true"></i></span>
                            <input type="text" asp-for="City" class="form-control" id="city" placeholder="Enter your city" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <!--COUNTRY-->
                <div class="form-group">
                    <label asp-for="Country" class="cols-sm-2 control-label">Your Country</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope-open" aria-hidden="true"></i></span>
                            <input type="text" asp-for="Country" class="form-control" id="country" placeholder="Enter your country" />
                            <span asp-validation-for="Country" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <hr style="width:80%;" />

                <!--EMAIL-->
                <div class="form-group">
                    <label asp-for="Email" class="cols-sm-2 control-label">Your Email</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                            <input type="text" asp-for="Email" class="form-control" id="email" placeholder="Enter your Email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <!--PASSWORD-->
                <div class="form-group">
                    <label asp-for="Password" class="cols-sm-2 control-label">Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                            <input type="password" asp-for="Password" class="form-control" id="password" placeholder="Enter your Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <!--REGISTER BUTTON-->
                <div class="form-group ">
                    <button type="submit" class="btn btn-primary btn-lg btn-block register-button">Register</button>
                </div>


                <!--BACK TO LOGIN-->
                <div class="login-register">
                    <p>
                        <a asp-action="Login" asp-controller="User">Back to Login</a>
                    </p>
                </div>


            </form>
        </div>

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


