@model InvoiceMVC.Models.Product

@{
    ViewData["Title"] = "Edit Product";
}

<h2>Edit Product</h2>

<form id="form" asp-action="Edit">
    <div class="form-horizontal">
        <h4></h4>
        <hr />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ProductID" />

        <div class="row">
            <div class="col-sm-3 col-md-3"></div>
            <!--BEGIN OF COLUMN-->
            <div class="col-sm-8 col-md-8">

                <!--NAME-->
                <div class="form-group">
                    <label asp-for="Name" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger" />
                    </div>
                </div>

                <!--DESCRIPTION-->
                <div class="form-group">
                    <label asp-for="Description" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <textarea asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger" />
                    </div>
                </div>

                <!--PRICE-->
                <div class="form-group">
                    <label asp-for="Price" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input id="price" name="price" type="text" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger" />
                    </div>
                </div>

                <!--TAX PERCENTAGE-->
                <div class="form-group">
                    <label asp-for="TaxPercentage" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="TaxPercentage" class="form-control">
                            <option value="0">0</option>
                            <option value="6">6</option>
                            <option value="21">21</option>
                        </select>
                        <span asp-validation-for="TaxPercentage" class="text-danger" />
                    </div>
                </div>

                <br />

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input id="edit_prod_btn" type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>

            </div>
            <!--END OF COLUMN-->
            <div class="col-sm-1 col-md-1"></div>
        </div>

        <!------------------------------------------------------------------------->

        

    </div>
</form>

<div>
    <br />

    <a asp-action="Index">Back to Overview</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $("#edit_btn").on("click", function () {
            var price = $("#price").val();
            $("#form").attr("asp-route-price", price);
        })
    </script>
}
